body {
    border: 0;
    padding: 0;
    margin: 1em;
    /*background-color: #aaa;*/
}

iframe {
	border: none;
}

/*#editor {
	background: #F0F0F0;	
*/


.editor {
	position: absolute;
	width: 100%;
	height: 100%;
}

.editor .editorbody {
	position: absolute;
    top: 0; left: 0;
    bottom: 32px;
    right: 0;
}

.editor .editorfoot {
	position: absolute;
    left: 0;
    bottom: 0px;
    right: 0;
    height: 32px;
}

.editorfoot label {
	font-size: 12px;
}

.ace_link_marker {
	/* border-bottom: 1px solid blue; */
	position: absolute;
	background: #AAF;
	color: white;
	cursor: pointer !important;
	pointer-events: auto;
}
.ace_srt_marker_active {
	position: absolute;
	background: yellow;
}
.ace_gutter_active_annotation {
	background: yellow;
}

/* ******************* */
/* Browser + "Frame"   */
/* ******************* */

.browser {
	background: #F0F0F0;
	border-left: 1px solid #CCC;
}

.head, .head input, .head button {
	font-size: 11px;
}

.head input {
	padding: 2px;
	border: none;
	background: white;
	height: 20px;
}

.head button {
	padding: 2px;
	border: none;
	background: #AAA;
	height: 20px;
}

.head {
	position: absolute;
	left: 0;
	height: 60px;
	right: 0;
	top: 0;
	background: #222;
}

.head .tabs {
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0;
	height: 24px;
}

.tab {
	float: left;
	cursor: pointer;
	overflow: hidden;
}

.tabbody {
	padding-left: 0.5em;
	padding-right: 0.5em;
	padding-top: 0em;
	padding-bottom: 0em;
	background: #888;
	margin-right: 0.5em;	
	height: 24px;
}

.tabsbody {
	float: left;
}

.tab.active .tabbody, .tab:hover .tabbody {
	background: #F0F0F0;
}

.head .location {
	position: absolute;
	left: 0; top: 24px; right: 0;
	height: 36px;
	background: #F0F0F0;
}

.head .location .url {
	position: absolute;
	left: 10px;
	top: 8px;
	right: 48px;
}

.head .location .buttons {
	position:absolute;
	right: 0;
	width: 48px;
	top: 8px;
	text-align: right;
	display: none;
}

.urlinput {
	width: 100%;
}

.head .menu {
	position: absolute;
	right: 0;
	top: 48px;
	background: white;
	width: 80px;
	z-index: 10;
	font-size: 11px;	
	padding-left: 10px;
	display: none;
}

.head .menu .item {
	padding: 2px;
	display: block;
	font-size: 11px;
	cursor: pointer;
}

.frame .body { 
	position: absolute;
	top: 60px;
	/*bottom: 32px;*/
	bottom: 0px;
	left: 0;
	right: 0px;
}

/*Not currently used*/
.frame .foot {
	position: absolute;
	left: 0;
/*	height: 32px;*/
	height: 0;
	right: 0;
	bottom: 0;
	background: #F0F0F0;
}

.frame .body iframe {
	width: 100%;
	height: 100%;
}


/* ********************************* */
/* aa_frames.js: Simple css "frames" */
/* ********************************* */

.frame {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 0;
}

.left {
	position: absolute;
	left: 0; right: 50%;
	top: 0; bottom: 0;
}

.right {
	position: absolute;
	left: 50%; right: 0;
	top: 0; bottom: 0;
}

.top {
	position: absolute;
	left: 0; right: 0;
	top: 0; bottom: 50%;
}

.bottom {
	position: absolute;
	left: 0; right: 0;
	top: 50%; bottom: 0;
}

.hdiv {
	position: absolute;
	left: 50%;
	top: 0; bottom: 0;
	z-index: 100;
}

.hdiv .divcontents {
	position: absolute;
	left: -15px;
	width: 30px;
	top: 40%; bottom: 40%;
	cursor: move;
}

.vdiv {
	position: absolute;
	top: 50%;
	left: 0; right: 0;
	background: gray;
	cursor: move;
	z-index: 100;
}

.vdiv .divcontents {
	position: absolute;
	top: -15px;
	height: 30px;
	left: 0; right: 0;
	cursor: move;
}

.html5video video {
	width: 100%;
}