@font-face {
    font-family: CourierCode;
	src: url('/aa/fonts/Courier%20Code/CourierCode-Roman.ttf');
    /* font-weight:400; */
}
body, td, input {
	/*font-family: CourierCode, monospace;*/
	font-family: "Monaco","Menlo","Ubuntu Mono","Consolas","source-code-pro",monospace;
	font-size: 12px;
}
h1 {
	font-size: 100%;
}
a {
	color: #222;
	text-decoration: none;
}
a.directory {
	border-bottom: 1px dotted green;
}