.result {
	margin-bottom: 1em;
}
.path {
	font-weight: bold;
}
.link {
	font-size: smaller;
}
.highlights {
	margin-top: 1em;
	margin-left: 2em;
	font-size: smaller;
	white-space: pre-wrap;
}
.content {
	white-space: pre;
}