body {
    font-family: monospace;
    margin: 2em 10em;
    background: #AAAAAA;
    font-size: 11px;
}

textarea, button {
    font-family: monospace;
    font-size: 11px;
}

input[type=text] {
    border: 1px solid black;
}

h1, h2 {
    font-size: 100%;
}

td {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    padding: 2px;
}

table {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

a {}

a:hover {}


/* Toolbar */

#toolbar {
    background: white;
    width: 64px;
    height: 320px;
    position: absolute;
    left: 50px;
    top: 50px;
}
#toolbar .tool {
    float: left;
    width: 32px;
    height: 32px;
    cursor: pointer;
}
#toolbar #rss { background-image: url('icons/application-rss+xml.png'); }
#toolbar #files { background-image: url('icons/system-file-manager.png'); }

/*  */

div.listing {
    margin-top: 2em;
}
div#table li a.active {
    background: white;
    color: black;
}

ul.listing {
    -moz-column-width: 16em;
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.listing a {
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid
}

div.aaplayer {
    resize: both;
    width: 640px;
    min-height: 32px;
    padding-bottom: 20px;
    border: 1px solid black;
    overflow: hidden;
    float: left;
}
.aaplayer audio {
    width: 100%;
    position: relative;
    top: 10px;
}
div.aaplayer iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.annotation {
    float: left;
    padding: 10px;
    width: 320px;
    overflow: hidden;
}

.annotation[contenteditable] {
    border: 1px dotted black;
    resize: both;
}

svg.timeline rect.item {
    fill: #EEE;
    stroke: none;
}

svg.timeline g.thumb rect {
    fill-opacity: 0.75;
}

/* aabox : Generic "window" widget */

.aabox {
    position: absolute;
    z-index: 1;
}
.aabox.focus {
    z-index: 100;
}
.aabox .body {
    width: 300px;
    height: 300px;
    overflow: auto;
    resize: both;
    border: 1px dotted gray;
}
.aabox .headwrap {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}
.aabox .head {
    position: absolute;
    display: none;
    left: 0px;
    top: 0;
    width: 100%;
    height: auto;
    background: #444;
    color: white;
    cursor: move;
}
.aabox.focus .head {
    display: block;
    background: black;
}

.aabox .head .menu button {
    border: none;
    background: gray;
    color: white;
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-size: 10px;
    margin: 2px;
}
/* aasrtbox: SRT viewer/editor */

.aasrtbox {
    background: #DDD;
}
.aasrtbox > .body {
    padding: 10px;
}
.aasrtbox textarea {
    padding: 10px;    
    border: none;
    background: none;
}
.aasrtbox .body .title {
    margin-bottom: 1em;
}

.aasrtbox .body .title .timing a {
    color: #444;
}

.aasrtbox .body .title.active {
    background: white;
}

.aasrtbox .body .title.active .timing a {
    color: black;
}

/* aahtml5mediabox */

.aahtml5mediabox .body video {
    width: 100%;
}

.aahtml5mediabox .body audio {
    position: relative;
    top: 10px;
    width: 100%;
}

/* aaimage */
.aaimagebox .body img {
    width: 100%;
}